@media screen and (max-width: 1402px) {
  header {
    width: 95%;
  }
  .home {
    width: 95%;
  }
  section {
    width: 95%;
  }
  .map .address_bx {
    left: 25%;
  }
}

@media screen and (max-width: 971px) {
  header .content .choose-bx {
    width: 95%;
  }
  header .content .choose-bx .select .card:nth-child(3) .date h3 {
    width: 100px;
    font-size: 15px;
  }
  header .content .choose-bx .select .card:nth-child(3) .date i {
    left: 77%;
  }
  .home {
    height: auto;
  }
  .home .home-bx {
    flex-wrap: wrap;
  }
  .home .home-bx .card {
    margin-top: 10px;
  }
  section {
    top: -100px;
  }
  section .box .cont-box ul li {
    font-size: 11px;
    width: 155px;
  }
  .map .address-bx {
    left: 15%;
  }
}

@media screen and (max-width: 767px) {
  header {
    overflow: hidden;
  }
  header .content .cont-bx h1 {
    color: #fff;
  }
  header .content .cont-bx p {
    color: #fff;
  }
  header .content .cont-bx .weather h6 {
    color: #fff;
  }
  header .content .cont-bx .btns-cont {
    color: #fff;
  }
  header .content .choose-bx .select {
    height: auto;
    flex-wrap: wrap;
  }
  header .content .choose-bx .select .card {
    width: 49%;
  }
  header .content .choose-bx .select .card:nth-last-child(1) {
    width: 100%;
    margin-top: 5px;
  }
  header .content .choose_bx .select .card:nth-child(3) .date h3 {
    width: 120px;
    font-size: 18px;
  }
  .home .home-bx {
    width: 100%;
  }
  .home .home-bx {
    width: 88%;
    justify-content: center;
  }
  .home .home-bx .card {
    margin: 10px;
  }
  section .box {
    flex-direction: column;
  }
  section .box .img-bx,
  .cont-box {
    width: 100%;
  }
  section .box .cont-box {
    width: 85%;
    margin-top: 30px;
    margin-left: 8%;
  }
  section .box .cont-box ul li {
    width: 170px;
  }
  .map .address_bx {
    left: 2%;
  }
}

@media screen and (max-width: 541px) {
  header nav .right-bx ul {
    position: absolute;
    width: 320px;
    height: auto;
    top: 40px;
    right: -20px;
    padding: 10px;
    z-index: 9999999999999;
    align-items: center;
  }
  header nav .right-bx ul li {
    padding: 15px 10px;
  }
  header nav .right-bx ul li a {
    color: #fff;
  }
  header nav .right-bx ul li:nth-last-child(1) {
    border: none;
    border-radius: none;
    padding: 3px 14px;
  }
  header nav .right-bx ul li:nth-last-child(1) a {
    color: #fff;
  }
  .home {
    width: 98%;
  }
  .home .home-bx {
    width: 100%;
  }
  .map .address-bx {
    width: 165px;
  }
  .map .address-bx .location-bx h4 {
    font-size: 12px;
  }
  .map .address-bx .location-bx .bi {
    font-size: 17px;
  }
}

@media screen and (max-width: 412px) {
  header .content .cont-bx {
    padding-left: 25px;
  }
  header .content .choose-bx .select .card {
    padding: 10px 0px 10px 10px;
    overflow: hidden;
  }
  header .content .choose-bx .select .card input:nth-child(3) {
    font-size: 10px;
  }
  header .content .choose-bx .select .card:nth-child(3) .date h3 {
    width: 100px;
    font-size: 15px;
  }
}
